@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import "tailwindcss";

body {
  background-color: lightsteelblue;
  overflow-x: hidden;
  font-family: "Permanent Marker", cursive;
}

@theme {
  --color-light-blue: lightsteelblue;
  --leading-100: "100%";
  --leading-150: "150%"
}