@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import "tailwindcss";

body {
  background-color: #2E2A27;
  overflow-x: hidden;
  font-family: "Permanent Marker", cursive;
}

@theme {
  --color-light-blue: lightsteelblue;
  --leading-100: "100%";
  --leading-150: "150%"
}

.custom-shadow {
  box-shadow: 0px 105px 150px 0px rgba(0, 0, 0, 0.45);
}